

 <!-- trending-product-section -->
 <section class="trending-product" id="">
  <div class="center-text">
    <h2>Our Favourite <span>Album</span></h2>
  </div>

  <div class="products">

    <div class="row">
   
      <img src="assets/album1.jpg" alt="">
      <div class="product-text">
        <h5>TOP 10</h5>
      </div>
      <div class="rating">
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
      </div>
      <div class="price">
        <h4>Dua Lipa</h4>
        <p>Best Albums</p>
      </div>
    </div>

    <div class="row">
   
      <img src="assets/Beerbongs_&_Bentleys_by_Post_Malone.png" alt="">
      <div class="product-text">
        <h5>TOP 10</h5>
      </div>
      <div class="rating">
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
      </div>
      <div class="price">
        <h4>Dua Lipa</h4>
        <p>Best Albums</p>
      </div>
    </div>

    <div class="row">
   
      <img src="assets/Dua_Lipa_-_Future_Nostalgia_(Official_Album_Cover).png" alt="">
      <div class="product-text">
        <h5>TOP 10</h5>
      </div>
      <div class="rating">
          <i class='bx bx-star' ></i>
          <i class='bx bx-star' ></i>
          <i class='bx bx-star' ></i>
          <i class='bx bx-star' ></i>
          <i class='bx bx-star' ></i>
      </div>
      <div class="price">
        <h4>Dua Lipa</h4>
        <p>Best Albums</p>
      </div>
    </div>

        <div class="row">
      
          <img src="assets/Harry's_House_by_Harry_Styles.png" alt="">
          <div class="product-text">
            <h5>TOP 10</h5>
          </div>
          <div class="rating">
            <i class='bx bx-star' ></i>
            <i class='bx bx-star' ></i>
            <i class='bx bx-star' ></i>
            <i class='bx bx-star' ></i>
            <i class='bx bx-star' ></i>
          </div>
          <div class="price">
            <h4>Dua Lipa</h4>
            <p>Best Albums</p>
          </div>
        </div>

    <div class="row">
   
      <img src="assets/ImagineDragonsEvolve.jpg" alt="">
      <div class="product-text">
        <h5>TOP 10</h5>
      </div>
      <div class="rating">
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
      </div>
      <div class="price">
        <h4>Dua Lipa</h4>
        <p>Best Albums</p>
      </div>
    </div>

    <div class="row">
   
      <img src="assets/RedHotChiliPeppersCalifornication.jpg" alt="">
      <div class="product-text">
        <h5>TOP 10</h5>
      </div>
      <div class="rating">
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
      </div>
      <div class="price">
        <h4>Dua Lipa</h4>
        <p>Best Albums</p>
      </div>
    </div>

    <div class="row">
   
      <img src="assets/Shawn_Mendes_-_Shawn_Mendes_(Official_Album_Cover).png" alt="">
      <div class="product-text">
        <h5>TOP 10</h5>
      </div>
      <div class="rating">
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
      </div>
      <div class="price">
        <h4>Dua Lipa</h4>
        <p>Best Albums</p>
      </div>
    </div>

    <div class="row">
   
      <img src="assets/The_Weeknd_-_Beauty_Behind_the_Madness.png" alt="">
      <div class="product-text">
        <h5>TOP 10</h5>
      </div>
      <div class="rating">
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
        <i class='bx bx-star' ></i>
      </div>
      <div class="price" id="review">
        <h4>Dua Lipa</h4>
        <p id="review">Best Albums</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="footer_main">

      <div class="tag">
          <img src="assets/logo.png">
          <p>
            Spotify is a digital music, podcast, and video service that gives you access to millions of songs and other content from creators all over the world.
          </p>

      </div>

      <div class="tag">
          <h1>Quick Link</h1>
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Featured</a>
          <a href="#">Arrivals</a>
          <a href="#">Reviews</a>
          <a href="#">Blog</a>
          
      </div>

      <div class="tag">
          <h1>Contact Info</h1>
          <a href="#"><i class="fa-solid fa-phone"></i>+94 12 345 6789</a>
          <a href="#"><i class="fa-solid fa-phone"></i>+94 32 444 699</a>
          <a href="#"><i class="fa-solid fa-envelope"></i>kl211010617@uptm.com</a>
          
      </div>

      <div class="tag">
          <h1>Follow Us</h1>
          <div class="social_link">
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-linkedin-in"></i>
          </div>
          
      </div>

      <div class="tag">
          <h1>Newsletter</h1>
          <div class="search_bar">
              <input type="text" placeholder="You email id here">
              <button type="submit">Subscribe</button>
          </div>                
      </div>            
      
  </div>

  <p class="end">Design By<span><i class="fa-solid fa-face-grin"></i> Aiman Ihsan</span></p>

</footer>
